// puerto
process.env.PORT = process.env.PORT || 5020;

// entorno
process.env.NODE_ENV = process.env.NODE_ENV || 'dev'

//segun entorno, selecciona bd
if ( process.env.NODE_ENV === 'dev') {
    process.env.DATABASE = '';
} else {
    process.env.DATABASE = '';
}

// vencimiento token
process.env.CADUCIDAD_TOKEN = '30D'

//claves de sesion
process.env.SECRETO_SESSION = ''
process.env.KEY_SESSION = ''

//claves de google
process.env.GOOGLE_CLIENT_ID = ''
process.env.GOOGLE_SECRET_ID = ''